In [28]:
%load_ext autoreload
%autoreload 2

In [74]:
import pandas as pd

pd.options.display.max_colwidth = 500

compute_samples = pd.read_csv('../sourmash/lung_cancer_v4/compute/samples.csv')
print(compute_samples.shape)
compute_samples.head()

(5054, 10)

,id,read1,read2,name,output,trim_low_abundance_kmers,dna,protein,ksizes,scaled
0,A10_B000419_S34,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B000419_S34/A10_B000419_S34_R1_001.fastq.gz,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B000419_S34/A10_B000419_S34_R2_001.fastq.gz,A10_B000419_S34,s3://olgabot-maca/lung_cancer/sourmash_v4/A10_B000419_S34.signature,True,True,True,"21,27,33,51",1000
1,A10_B000420_S82,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B000420_S82/A10_B000420_S82_R1_001.fastq.gz,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B000420_S82/A10_B000420_S82_R2_001.fastq.gz,A10_B000420_S82,s3://olgabot-maca/lung_cancer/sourmash_v4/A10_B000420_S82.signature,True,True,True,"21,27,33,51",1000
2,A10_B002073_S166,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B002073_S166/A10_B002073_S166_R1_001.fastq.gz,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B002073_S166/A10_B002073_S166_R2_001.fastq.gz,A10_B002073_S166,s3://olgabot-maca/lung_cancer/sourmash_v4/A10_B002073_S166.signature,True,True,True,"21,27,33,51",1000
3,A10_B002078_S202,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B002078_S202/A10_B002078_S202_R1_001.fastq.gz,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B002078_S202/A10_B002078_S202_R2_001.fastq.gz,A10_B002078_S202,s3://olgabot-maca/lung_cancer/sourmash_v4/A10_B002078_S202.signature,True,True,True,"21,27,33,51",1000
4,A10_B002095_S118,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B002095_S118/A10_B002095_S118_R1_001.fastq.gz,s3://czbiohub-seqbot/fastqs/180516_A00111_0149_AH5CM2DSXX/rawdata/A10_B002095_S118/A10_B002095_S118_R2_001.fastq.gz,A10_B002095_S118,s3://olgabot-maca/lung_cancer/sourmash_v4/A10_B002095_S118.signature,True,True,True,"21,27,33,51",1000

In [75]:
prefix = 's3://olgabot-maca/lung_cancer/sourmash_search/tabula-muris-k51-protein'
txt = 'lung_cancer_sourmash_search.txt'

! aws s3 ls $prefix/ > $txt
! cat $txt

2018-09-21 01:44:08    6950640 C14_B003528_S62_ignore-abundance=False.csv
2018-09-21 02:34:07    6946710 D1_B003125_S25_ignore-abundance=False.csv
2018-09-21 02:33:48    6948400 E19_B003570_S199_ignore-abundance=False.csv
2018-09-21 01:42:18    6963864 F21_B000420_S213_ignore-abundance=False.csv
2018-09-21 02:34:07    6936877 G10_B003586_S142_ignore-abundance=False.csv
2018-09-21 01:46:01    6936580 G4_B003570_S232_ignore-abundance=False.csv
2018-09-21 02:34:07    6939393 G9_B003511_S57_ignore-abundance=False.csv
2018-09-21 02:33:25    6935710 H7_B003588_S211_ignore-abundance=False.csv
2018-09-21 02:34:08    6947459 I22_B002095_S22_ignore-abundance=False.csv
2018-09-21 02:33:32    6956092 I3_B003573_S63_ignore-abundance=False.csv
2018-09-21 02:34:07    6948876 J11_B003573_S95_ignore-abundance=False.csv
2018-09-21 02:33:19    6938459 J8_B003528_S224_ignore-abundance=False.csv
2018-09-21 01:48:07    6949495 K7_B002073_S103_ignore-abundance=False.csv
2018-09-21 02:34:07    6939320 L16_B003588_S16_ignore-abundance=False.csv
2018-09-21 02:34:07    6938562 L5_B003588_S5_ignore-abundance=False.csv
2018-09-21 02:34:07    6946021 M1_B000420_S61_ignore-abundance=False.csv
2018-09-21 02:34:00         30 M23_B002097_S251_ignore-abundance=True.csv
2018-09-21 02:34:07    6942587 N15_B000420_S99_ignore-abundance=False.csv
2018-09-21 02:33:57    6934837 O3_B003573_S207_ignore-abundance=False.csv
2018-09-21 02:34:06    6945689 P14_B000420_S146_ignore-abundance=False.csv
2018-09-21 02:34:07    6913668 P2_B003125_S14_ignore-abundance=False.csv

In [76]:
aws_s3_ls = pd.read_table(txt, 
                          delim_whitespace=True, header=None, 
                          names=['date', 'time', 'bytes', 'basename'])
print(aws_s3_ls.shape)
aws_s3_ls.head()

(21, 4)

         date      time    bytes                                     basename
0  2018-09-21  01:44:08  6950640   C14_B003528_S62_ignore-abundance=False.csv
1  2018-09-21  02:34:07  6946710    D1_B003125_S25_ignore-abundance=False.csv
2  2018-09-21  02:33:48  6948400  E19_B003570_S199_ignore-abundance=False.csv
3  2018-09-21  01:42:18  6963864  F21_B000420_S213_ignore-abundance=False.csv
4  2018-09-21  02:34:07  6936877  G10_B003586_S142_ignore-abundance=False.csv

In [77]:
df = pd.read_csv(f'{prefix}/D1_B003125_S25_ignore-abundance=False.csv')
print(df.shape)
df.head()

(36295, 4)

,similarity,name,filename,md5
0,0.316674,cell_ontology_class:T_cell|tissue:Fat|subtissue:MAT|free_annotation:nan|cell_id:G16-MAA000914-3_9_M-1-1,tabula-muris-k51-protein,7eaedc3ea86056aca4353152544cfff4
1,0.308141,cell_ontology_class:T_cell|tissue:Fat|subtissue:MAT|free_annotation:nan|cell_id:E11-MAA000914-3_9_M-1-1,tabula-muris-k51-protein,9c2251f947b9a9faf1cad898f2b1a0a1
2,0.307184,cell_ontology_class:T_cell|tissue:Fat|subtissue:MAT|free_annotation:nan|cell_id:D12-MAA000914-3_9_M-1-1,tabula-muris-k51-protein,942b9c25aed5b57d64572cdcbd8d3343
3,0.304018,cell_ontology_class:endothelial_cell|tissue:Fat|subtissue:MAT|free_annotation:nan|cell_id:D17-MAA000914-3_9_M-1-1,tabula-muris-k51-protein,5e9de85eef4edef22566bb3eb1efc23b
4,0.302058,cell_ontology_class:T_cell|tissue:Fat|subtissue:MAT|free_annotation:nan|cell_id:H14-MAA000914-3_9_M-1-1,tabula-muris-k51-protein,2e4adc68cd4fd8e1c6119571c859ca71

In [78]:
pattern = '(?P<sample_id>[\w]+)_ignore-abundance=(?P<ignore_abundance>True|False).csv'

sample_id_abundance = aws_s3_ls.basename.str.extract(pattern)
print(sample_id_abundance.shape)
sample_id_abundance.head()

(21, 2)

          sample_id ignore_abundance
0   C14_B003528_S62            False
1    D1_B003125_S25            False
2  E19_B003570_S199            False
3  F21_B000420_S213            False
4  G10_B003586_S142            False

In [79]:
sorted(sample_id_abundance.sample_id.values)

['C14_B003528_S62',
 'D1_B003125_S25',
 'E19_B003570_S199',
 'F21_B000420_S213',
 'G10_B003586_S142',
 'G4_B003570_S232',
 'G9_B003511_S57',
 'H7_B003588_S211',
 'I22_B002095_S22',
 'I3_B003573_S63',
 'J11_B003573_S95',
 'J8_B003528_S224',
 'K7_B002073_S103',
 'L16_B003588_S16',
 'L5_B003588_S5',
 'M1_B000420_S61',
 'M23_B002097_S251',
 'N15_B000420_S99',
 'O3_B003573_S207',
 'P14_B000420_S146',
 'P2_B003125_S14']

In [80]:
aws_s3_ls_ids = pd.concat([aws_s3_ls, sample_id_abundance], axis=1)
aws_s3_ls_ids.head()

,date,time,bytes,basename,sample_id,ignore_abundance
0,2018-09-21,01:44:08,6950640,C14_B003528_S62_ignore-abundance=False.csv,C14_B003528_S62,False
1,2018-09-21,02:34:07,6946710,D1_B003125_S25_ignore-abundance=False.csv,D1_B003125_S25,False
2,2018-09-21,02:33:48,6948400,E19_B003570_S199_ignore-abundance=False.csv,E19_B003570_S199,False
3,2018-09-21,01:42:18,6963864,F21_B000420_S213_ignore-abundance=False.csv,F21_B000420_S213,False
4,2018-09-21,02:34:07,6936877,G10_B003586_S142_ignore-abundance=False.csv,G10_B003586_S142,False

In [81]:
dfs = []

for i, row in aws_s3_ls_ids.iterrows():
    basename = row.basename
    
    sample_id = basename.split()
    df = pd.read_csv(f'{prefix}/{basename}')
    df['query_sample_id'] = row.sample_id
    df['ignore_abundance'] = row.ignore_abundance
    dfs.append(df)
search_results = pd.concat(dfs, ignore_index=True)
print(search_results.shape)
search_results.head()

(728873, 6)

,similarity,name,filename,md5,query_sample_id,ignore_abundance
0,0.500983,cell_ontology_class:myeloid_cell|tissue:Fat|subtissue:MAT|free_annotation:nan|cell_id:H11-B002314-3_56_F-1-1,tabula-muris-k51-protein,3117952b86d451cb92e6336531316c17,C14_B003528_S62,False
1,0.500967,cell_ontology_class:epithelial_cell_of_large_intestine|tissue:Large_Intestine|subtissue:Proximal|free_annotation:Lgr5-_amplifying_undifferentiated_cell|cell_id:H6-MAA001871-3_39_F-1-1,tabula-muris-k51-protein,3c5b05b218dc4bfdc197426bc838fed8,C14_B003528_S62,False
2,0.500855,cell_ontology_class:large_intestine_goblet_cell|tissue:Large_Intestine|subtissue:Proximal|free_annotation:Goblet_cell_(Proximal)|cell_id:M4-MAA001872-3_39_F-1-1,tabula-muris-k51-protein,64ef4f62c0d0b1377c2cbf5f135f314f,C14_B003528_S62,False
3,0.500827,cell_ontology_class:large_intestine_goblet_cell|tissue:Large_Intestine|subtissue:Proximal|free_annotation:Goblet_cell_(Proximal)|cell_id:E6-MAA001872-3_39_F-1-1,tabula-muris-k51-protein,e4a3ceeaeff81c54fe23210e460e6ded,C14_B003528_S62,False
4,0.500819,cell_ontology_class:large_intestine_goblet_cell|tissue:Large_Intestine|subtissue:Proximal|free_annotation:Goblet_cell_(Proximal)|cell_id:L12-MAA001872-3_39_F-1-1,tabula-muris-k51-protein,a8a5aa310cbb862741fc88fac1052c32,C14_B003528_S62,False

In [60]:
pattern = '(?P<column>\w+):(?P<value>[\w-]+)'

df = search_results.name.head().str.extractall(pattern)
df.reset_index().pivot(index='level_0', columns='column', values='value')

column,cell_id,cell_ontology_class,free_annotation,subtissue,tissue
level_0,,,,,
0,G16-MAA000914-3_9_M-1-1,T_cell,nan,MAT,Fat
1,E11-MAA000914-3_9_M-1-1,T_cell,nan,MAT,Fat
2,D12-MAA000914-3_9_M-1-1,T_cell,nan,MAT,Fat
3,D17-MAA000914-3_9_M-1-1,endothelial_cell,nan,MAT,Fat
4,H14-MAA000914-3_9_M-1-1,T_cell,nan,MAT,Fat

In [90]:
%%file extract_metadata.py
import pandas as pd

def combine_cell_ontology_free_annotation(row):
    if pd.notnull(row['free_annotation']):
        return '{cell_ontology_class} ({free_annotation})'.format(**row)
    else:
        return row['cell_ontology_class']


def extract_cell_metadata(name_column, pattern='(?P<column>\w+):(?P<value>[\w-]+)'):
    expanded = name_column.str.extractall(pattern)
    expanded_index = expanded.reset_index()
    annotations = expanded_index.pivot(columns='column', values='value', index='level_0')
    annotations['cell_ontology_free_annotation'] = annotations.apply(
        combine_cell_ontology_free_annotation, axis=1)
    return annotations 


def to_key_value_pair(attribute):
    if len(attribute) > 1:
        try:
            return attribute[0], int(attribute[1])
        except ValueError:
            return attribute[0], attribute[1] 
    else:
        return 'comparison_sequence', attribute[0]


def extract_experiment_metadata(basename):
    key = basename.split('.csv')[0]
    split = key.split('_')
    attributes = [x.split('=') for x in split]
    attributes = dict(to_key_value_pair(x) for x in attributes)
    return key, attributes

Overwriting extract_metadata.py

In [ ]:
import extract_metadata

cell_metadata = extract_metadata.extract_cell_metadata(search_results.name)
print(cell_metadata.shape)
cell_metadata.head()

In [ ]:
search_results_metadata = search_results.join(cell_metadata)
print(search_results_metadata.shape)
search_results_metadata.head()

In [ ]:
import seaborn as sns
%matplotlib inline

g = sns.FacetGrid(search_results, col='ignore_abundance')
g.map(sns.kdeplot, 'similarity', shade=True)

In [ ]:
import seaborn as sns
%matplotlib inline

g = sns.FacetGrid(search_results, col='ignore_abundance', hue='tissue')
g.map(sns.kdeplot, 'similarity', shade=True)

In [ ]:
search_results_metadata_top = search_results_metadata.query('similarity > 0.5')

In [ ]:
grouped = search_results_metadata_top.groupby('query_sample_id')

cols = ['similarity', 'tissue', 'cell_ontology_free_annotation']

grouped.apply(lambda x: x.nlargest(5, 'similarity')[cols])

In [ ]:
import seaborn as sns
%matplotlib inline

g = sns.FacetGrid(search_results, col='ignore_abundance')
g.map(sns.kdeplot, 'similarity', shade=True)