In [5]:
from itertools import product

import pandas as pd


ksizes = 21, 27, 33, 51
num_hashes = 100, 500, 1000, 2000, 5000, 10000, 20000
trim_high_abundances = True, False
dna = True,
protein = True,

data = list(product(ksizes, num_hashes, trim_high_abundances, dna, protein))
columns = 'ksize', 'num_hashes', 'trim_high_abundance', 'dna', 'protein'

parameters = pd.DataFrame(data, columns=columns)
print(parameters.shape)
parameters.head()

(56, 5)

   ksize  num_hashes  trim_high_abundance   dna  protein
0     21         100                 True  True     True
1     21         100                False  True     True
2     21         500                 True  True     True
3     21         500                False  True     True
4     21        1000                 True  True     True

In [7]:
annotations = pd.read_csv('/home/ubuntu/tabula-muris/00_data_ingest/18_global_annotation_csv/annotations_facs.csv', 
                          index_col='cell')
annotations.index = annotations.index.str.replace('.', '-')
annotations['sample_id'] = annotations.index
annotations = annotations.fillna("NA")
print(annotations.shape)
annotations.head()

(44949, 24)

/home/ubuntu/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Neurog3>0_raw,Neurog3>0_scaled,cell_ontology_class,cell_ontology_id,cluster.ids,free_annotation,mouse.id,mouse.sex,plate.barcode,subsetA,...,subsetC_cluster.ids,subsetD,subsetD_cluster.ids,subsetE,subsetE_cluster.ids,subtissue,tissue,tissue_tSNE_1,tissue_tSNE_2,sample_id
cell,,,,,,,,,,,,,,,,,,,,,
A1-B000610-3_56_F-1-1,NA,NA,bladder cell,CL:1001319,5,Bladder mesenchymal cell,3_56_F,F,B000610,NA,...,NA,NA,NA,NA,NA,NA,Bladder,-7.182841,-10.895094,A1-B000610-3_56_F-1-1
A1-B002764-3_38_F-1-1,NA,NA,bladder urothelial cell,CL:1001428,3,Luminal bladder epithelial cell,3_38_F,F,B002764,NA,...,NA,NA,NA,NA,NA,NA,Bladder,4.199059,-11.050240,A1-B002764-3_38_F-1-1
A1-B002771-3_39_F-1-1,NA,NA,bladder cell,CL:1001319,5,Bladder mesenchymal cell,3_39_F,F,B002771,NA,...,NA,NA,NA,NA,NA,NA,Bladder,-11.995435,-7.325534,A1-B002771-3_39_F-1-1
A1-D041914-3_8_M-1-1,NA,NA,bladder cell,CL:1001319,5,Bladder mesenchymal cell,3_8_M,M,D041914,NA,...,NA,NA,NA,NA,NA,NA,Bladder,-6.820022,-14.174246,A1-D041914-3_8_M-1-1
A1-D042253-3_9_M-1-1,NA,NA,bladder cell,CL:1001319,2,Bladder mesenchymal cell,3_9_M,M,D042253,NA,...,NA,NA,NA,NA,NA,NA,Bladder,-24.163538,-7.499349,A1-D042253-3_9_M-1-1

In [8]:
tissues = 'Bladder', 'Kidney', 'Spleen'

annotations_subset = annotations.query('tissue in @tissues')
print(annotations_subset.shape)
annotations_subset.head()

(3594, 24)

,Neurog3>0_raw,Neurog3>0_scaled,cell_ontology_class,cell_ontology_id,cluster.ids,free_annotation,mouse.id,mouse.sex,plate.barcode,subsetA,...,subsetC_cluster.ids,subsetD,subsetD_cluster.ids,subsetE,subsetE_cluster.ids,subtissue,tissue,tissue_tSNE_1,tissue_tSNE_2,sample_id
cell,,,,,,,,,,,,,,,,,,,,,
A1-B000610-3_56_F-1-1,NA,NA,bladder cell,CL:1001319,5,Bladder mesenchymal cell,3_56_F,F,B000610,NA,...,NA,NA,NA,NA,NA,NA,Bladder,-7.182841,-10.895094,A1-B000610-3_56_F-1-1
A1-B002764-3_38_F-1-1,NA,NA,bladder urothelial cell,CL:1001428,3,Luminal bladder epithelial cell,3_38_F,F,B002764,NA,...,NA,NA,NA,NA,NA,NA,Bladder,4.199059,-11.050240,A1-B002764-3_38_F-1-1
A1-B002771-3_39_F-1-1,NA,NA,bladder cell,CL:1001319,5,Bladder mesenchymal cell,3_39_F,F,B002771,NA,...,NA,NA,NA,NA,NA,NA,Bladder,-11.995435,-7.325534,A1-B002771-3_39_F-1-1
A1-D041914-3_8_M-1-1,NA,NA,bladder cell,CL:1001319,5,Bladder mesenchymal cell,3_8_M,M,D041914,NA,...,NA,NA,NA,NA,NA,NA,Bladder,-6.820022,-14.174246,A1-D041914-3_8_M-1-1
A1-D042253-3_9_M-1-1,NA,NA,bladder cell,CL:1001319,2,Bladder mesenchymal cell,3_9_M,M,D042253,NA,...,NA,NA,NA,NA,NA,NA,Bladder,-24.163538,-7.499349,A1-D042253-3_9_M-1-1

In [27]:
annotations_subsampled = annotations_subset.groupby('tissue').apply(lambda x: x.sample(100, random_state=0))
print(annotations_subsampled.shape)
annotations_subsampled.groupby(['tissue']).size()

(300, 24)

/home/ubuntu/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: 'tissue' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

tissue
Bladder    100
Kidney     100
Spleen     100
dtype: int64

In [28]:
annotations_subsampled.groupby(['cell_ontology_class']).size()

cell_ontology_class
B cell                                    75
T cell                                    22
bladder cell                              50
bladder urothelial cell                   50
endothelial cell                          27
epithelial cell of proximal tubule        50
kidney collecting duct epithelial cell    16
leukocyte                                  4
macrophage                                 6
dtype: int64

In [9]:
sample_id_with_annotation = \
    annotations['sample_id'] + '|tissue:' + annotations['tissue'] \
    + '|subtissue:' + annotations['subtissue'] \
    + '|cell_ontology_class:' + annotations['cell_ontology_class'] \
    + '|free_annotation:' + annotations['free_annotation']
sample_id_with_annotation = sample_id_with_annotation.str.replace(' ', '_')
sample_id_with_annotation.name = 'sample_id_with_annotation'
sample_id_with_annotation.head()

cell
A1-B000610-3_56_F-1-1    A1-B000610-3_56_F-1-1|tissue:Bladder|subtissue...
A1-B002764-3_38_F-1-1    A1-B002764-3_38_F-1-1|tissue:Bladder|subtissue...
A1-B002771-3_39_F-1-1    A1-B002771-3_39_F-1-1|tissue:Bladder|subtissue...
A1-D041914-3_8_M-1-1     A1-D041914-3_8_M-1-1|tissue:Bladder|subtissue:...
A1-D042253-3_9_M-1-1     A1-D042253-3_9_M-1-1|tissue:Bladder|subtissue:...
Name: sample_id_with_annotation, dtype: object

In [13]:
# ! aws s3 ls s3://olgabot-maca/facs/

In [14]:
# ! aws s3 ls s3://olgabot-maca/facs/

In [15]:
maca_aws = pd.read_table('s3://olgabot-maca/facs/aws_maca_remux_bytes_fastq.txt', sep='\s+', header=None, 
                         names=['date', 'time', 'filesize', 'suffix'])
maca_aws['megabytes'] = maca_aws['filesize']/1e6
maca_aws['novaseq_run'] = maca_aws['suffix'].str.extract('([AB]\d{5})')
maca_aws['novaseq_run_number'] = maca_aws['novaseq_run'].str.lstrip("AB")
maca_aws['sample_id'] = maca_aws['suffix'].str.split('/').str[-2]
maca_aws['sample_id_no_sample_number'] = maca_aws.sample_id.map(lambda x: '_'.join(x.split('_')[:3]))
maca_aws = maca_aws.join(sample_id_with_annotation, on='sample_id_no_sample_number')

maca_aws['read'] = maca_aws['suffix'].str.extract('_(R[12])_')
print(maca_aws.shape)

maca_aws.head()

(263160, 11)

,date,time,filesize,suffix,megabytes,novaseq_run,novaseq_run_number,sample_id,sample_id_no_sample_number,sample_id_with_annotation,read
0,2017-10-31,19:17:18,52570660,remux_data/170907_A00111_0051_BH2HWLDMXX/rawda...,52.570660,A00111,00111,A1-D041911-3_8_M-1-1_S128,A1-D041911-3_8_M-1-1,A1-D041911-3_8_M-1-1|tissue:Tongue|subtissue:N...,R1
1,2017-10-31,19:17:18,55481347,remux_data/170907_A00111_0051_BH2HWLDMXX/rawda...,55.481347,A00111,00111,A1-D041911-3_8_M-1-1_S128,A1-D041911-3_8_M-1-1,A1-D041911-3_8_M-1-1|tissue:Tongue|subtissue:N...,R2
2,2017-10-31,19:14:53,53806,remux_data/170907_A00111_0051_BH2HWLDMXX/rawda...,0.053806,A00111,00111,A1-D041912-3_8_M-1-1_S1,A1-D041912-3_8_M-1-1,A1-D041912-3_8_M-1-1|tissue:Marrow|subtissue:G...,R1
3,2017-10-31,19:14:53,54967,remux_data/170907_A00111_0051_BH2HWLDMXX/rawda...,0.054967,A00111,00111,A1-D041912-3_8_M-1-1_S1,A1-D041912-3_8_M-1-1,A1-D041912-3_8_M-1-1|tissue:Marrow|subtissue:G...,R2
4,2017-10-31,19:14:53,36204,remux_data/170907_A00111_0051_BH2HWLDMXX/rawda...,0.036204,A00111,00111,A1-D041914-3_8_M-1-1_S269,A1-D041914-3_8_M-1-1,A1-D041914-3_8_M-1-1|tissue:Bladder|subtissue:...,R1